html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #eee !important;
}

.configurable-application--loading {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://s3.amazonaws.com/un-country-profiles-2019/loader-ie9.gif)
}

.configurable-application--loading .configurable-application__group-container {
  display: none
}

.cursor {
  cursor: pointer;
}

/* top navbar */
.nav_title {
  margin-left: 70px;
  font-size: 1.4019rem;
}

.search-top-nav {
  font-size: 1.15rem !important;
}

.nav-logo {
  height: 70px;
  width: 70px;
  position: absolute;
}

.top-nav {
  background-color: #eee !important;
}

.header-container {
  /* background-image: url('/assets/images/sdgs-banner-background-dark.jpg'); */
  height: 200px;
  /* background-size: cover; */
}

.title-node {
  position: absolute;
  top: 120px;
  left: 100px; 
  color: white;
  font-size: 72px;
}

.flag {
  height: 200px;
  width: 175px !important;
}

.flag-override {
  height: 20px;
  position: absolute !important;
  background-position: 0 !important;
}

.header-subtitle {
  font-size: 18px;
  font-weight: normal;
}

.card {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 6px 6px 20px 4px rgba(0,0,0,0.05) !important;
}

.card-image-override {
  width: 100px !important;
  height: 100px !important;
  min-width: 0 !important;
  margin: 0 auto !important;  
}
.card-wide-image {
  position: inherit !important;
}

.card-wide-image-wrap {
  width: 18% !important;
  margin-top: 10px !important;
}

.card-override {
  margin-top: -80px !important;
  margin-left: 10px !important;
  padding-left: 0px !important;
  min-height: 120px;
}

.goal-title {
  font-size: 24px;
  margin-bottom: 0;
}

.goal-description {
  font-size: 16px;
}

.panel-override {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.05);
}

.modal-overlay .card {
  height: auto;
}

.modal-country-name {
  font-size: 16px;
}

.list-numbered > li:before {
  font-size: 1.30rem !important;
  content: '' !important;
}

.third-nav-container {
  overflow: hidden !important;
}

.third-nav {
  background-color: #eee !important;
}

#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-overlay-surface {
  background:rgba(0, 0, 0, 0.20);
  /* opacity: 0.4; */
}
.map-card .esri-overlay-surface {
  background: none !important;
}

.map-image {
  cursor: pointer;
}

.chart-card {
  height: 200px;
  width: 100%;
}
li.grid-container-fluid::before {
  border: none !important;
}
.list-numbered .grid-container-fluid {
  padding-left: 1.3em !important;
}

/* amCharts override - need to fix this */
a[href="http://www.amcharts.com"] {
  display: none !important;
}

/* facts */
.fact-text-container {
  margin-left: 10px;
}
.fact-value {
  font-weight: bold;
}

.fact-year {
  font-weight: bold;  
}

.li-fact-1::before { border-right: 1px solid #e5243b !important}.li-fact-2::before { border-right: 1px solid #e5b735 !important}.li-fact-3::before { border-right: 1px solid #4c9f38 !important}.li-fact-4::before { border-right: 1px solid #c5192d !important}.li-fact-5::before { border-right: 1px solid #ff3a21 !important}.li-fact-6::before { border-right: 1px solid #26bde2 !important}.li-fact-7::before { border-right: 1px solid #fcc30b !important}.li-fact-8::before { border-right: 1px solid #a21942 !important}.li-fact-9::before { border-right: 1px solid #fd6925 !important}.li-fact-10::before { border-right: 1px solid #dd1367 !important}.li-fact-11::before { border-right: 1px solid #fd9d24 !important}.li-fact-12::before { border-right: 1px solid #c9992d !important}.li-fact-13::before { border-right: 1px solid #3f7e44 !important}.li-fact-14::before { border-right: 1px solid #0a97d9 !important}.li-fact-15::before { border-right: 1px solid #56c02b !important}.li-fact-16::before { border-right: 1px solid #00689d !important}.li-fact-17::before { border-right: 1px solid #19486a !important}

/* .li-menu::before {
  border: 0 !important;
} */

.map-card-content {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
}
.map-card {
  height: 100%;
  width: 100%;
}

.ph-avatar {
  background-image: url(https://s3.amazonaws.com/un-country-profiles-2019/loading-ph-globe-bw.png)  !important;
  background-size: contain !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
}

.ph-item {
  border: 0 !important;
  margin: 0 auto !important;
  position: absolute !important;
  z-index: 1 !important;
  height: 100% !important;
  width: 100% !important;
}

.dashboard-icon {
  height: 30px;
  margin-bottom: 10px;
}

.hub-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.icon-link-card {
  height: 100px;
  padding: 5px !important;
  cursor: pointer;
}
.icon-link-card .card-content {
  padding: 20px 2px 2px 2px !important;
}

html:not([dir="rtl"]) [class*="column-"] [class*="column-"]:first-of-type {
  margin-left: 0 !important;
}

.icon-download-override {
  padding-right: 0px !important;
}
.icon-download-override,
.icon-share-override {
  font-size: 22px;
}

.icon-share-override img {
  height: 22px;
  opacity: 0.75;
}

.alert {
  position: absolute !important;
  left: 25% !important;
  margin: 0 auto !important;  
}

.is-sticky {
  left: -15px !important;
  right: 0 !important;
  border: 1px solid red;
}

.goal-filter {
  margin-top: -20px;
  z-index: 9;
}
.goal-filter a,
.goal-filter a:hover {
  text-decoration: none;
}

.img-nav-filter {
  height: 50px;
  /* width: 20px; */
}

.third-nav-link,
.third-nav-link:hover {
  text-decoration: none;
  color: none;
}

.nav-num-filter {
  height: 45px;
  width: 45px !important;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  margin-right: 10px;
  padding: 10px;
}

.nav-num {
  font-size: 15px;
  color: white;
}

.nav-num-all {
  padding: 0px;
  height: 45px;
  width: 45px !important;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  margin-right: 10px;
  background-color: #eee;
}
.nav-num-all img {
  height: 35px;
  margin-top: 4px;
  width: 35px;
  max-width: none;
  margin-left: -4px;
}

.nav-num-highlight {
  box-shadow: 0px 1px 8px 5px #fff;
  border: none;
}